//
//
// user.scss
//
// Place your own custom CSS or SCSS rules below this line, these rules will override any Bootstrap and theme variables.

.card-contact{
    margin-bottom: 2px;

    .card-body{
         padding: 0.5rem;
         i{
            margin-right: $spacer/6;
          }
        }
    .card-meta{
      display: flex;
      align-items: center;
      justify-content: space-between;
      i{
        margin-right: $spacer/6;
      }
    }
  }
  
  @include media-breakpoint-up(xl) {
    .card-contact{
      .card-title{
        margin: 0;
      }
      .card-body, .card-meta{
        display: flex;
        align-items: center;
      }
      .card-body{
        justify-content: space-between;
      }
      .card-options{
        margin-left: $spacer;
        position: relative;
        top: 0;
        right: 0;
      }
      .avatars{
        margin-right: $spacer;
      }
    }
}

@include media-breakpoint-down(md) {
    .card-contact{
      .card-title{
        margin: 0;
      }
      .card-body, .card-meta{
        display: flex;
        align-items: center;
      }
      .card-body{
        justify-content: space-between;
      }
      .card-options{
        margin-left: $spacer;
        position: relative;
        top: 0;
        right: 0;
      }
      .avatars{
        margin-right: $spacer;
      }
    }
}

ol.timeline {
    list-style-type: none;
    position: relative;
    padding-left: 1.5rem;
}
ol.timeline:before {
    content: ' ';
    background: #d4d9df;
    color: $border-color;
    display: inline-block;
    position: absolute;
    left: 4px;
    width: 1px;
    height: 100%;
    z-index: 400;
}
ol.timeline > li {
    margin: 20px 0;
    padding-left: 0;
}
ol.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 2px solid $border-color;
    left: 0;
    width: 9px;
    height: 9px;
    z-index: 400;
}
