// 
// 
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.


// Colors

$primary:       lighten($primary, 10%);
$secondary:     $gray-600;
$success:       lighten($green, 10%);
$info:          lighten($cyan, 10%);
$warning:       lighten($yellow, 10%);
$danger:        lighten($red, 10%);
$light:         $gray-100;
$dark:          $gray-800;

$theme-colors: (
  "primary":    $primary,
  "secondary":  $secondary,
  "success":    $success,
  "info":       $info,
  "warning":    $warning,
  "danger":     $danger,
  "light":      $light,
  "dark":       $dark
);

$user-link-color:                              darken($primary, 10%);
$user-link-decoration:                         none;
$user-link-hover-color:                        lighten($user-link-color, 10%);
$user-link-hover-decoration:                   underline;
