// 
// 
// user-variables.scss
//
// Place your own variable overrides here, these will override any Bootstrap and theme variables.


// Colors

$user-link-color:                              darken($primary, 20%);
$user-link-decoration:                         none;
$user-link-hover-color:                        lighten($user-link-color, 10%);
$user-link-hover-decoration:                   underline;
